body {
    font-family: "Rubik", sans-serif;
  }
  .header {
    width: 100%;
    height: 75px;
    padding: 2vw;
    color: white;
    background-color: rgb(116, 238, 100);
    margin-bottom: 2vw;
  }
  #txtinput {
    width: 100%;
    margin: 2vw auto;
    font-size: 25px;
    padding: 1vw;
    resize: none;
  }
  #txtoutput {
    width: 100%;
    margin: 2vw auto;
    font-size: 25px;
    padding: 1vw;
    resize: none;
  }
  .btn-lg {
    background-color: rgb(233, 190, 97);
    margin-bottom: 2vw;
    color: white;
  }
  